<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="utf-8">
        <titel></titel>
        <link rel="stylesheet"  th:href="@{/css/style1.css}">

        <!--For Chart--> 
        <div class="page">
            <h1>Dashboard-Honigrührlaufmaschine</h1>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script th:inline="javascript">
         /*<![CDATA[*/
            function AutoRefresh() {
             if(/*[[${timeToReload}]]*/){
               setTimeout("location.reload(true);", /*[[${timeToReload}]]*/);
               }
           addData(/*[[${labels}]]*/, /*[[${data}]]*/);
            }
         /*]]>*/
      </script>
    </head>


    <body  onload="JavaScript:AutoRefresh();" >

      
      

      <section class="QSetting">
        <nav class="S">

          <a  th:class="${isInProgress?'StartButtonSetting IstartSettig disableIt':'StartButtonSetting IstartSettig'}"
                    th:href="@{/start}">START</a>

          <a  th:class="${!isInProgress?'StopButtonSetting IStopSetting disableIt':'StopButtonSetting IStopSetting'}"  th:href="@{/stop}">STOP</a>
            
          <p class="P-RlzSetting">Rührlaufzeit</p>
  
        </nav>
      </section> 

      <section class="QSetting2">
        <article>
            <input th:value="${start}" readonly
            placeholder="Started at"
            >
            <br><br>
            <input th:value="${stop}" readonly
                     placeholder="Stopped at">
            <br><br>
            <input  placeholder="mixing time" th:value="${mixingTime}" readonly><br><br>
        </article>
      </section>

      <section class="QSetting1">
        <nav class="S1">
           
          <p class="P-RlzSetting1">Zeiteinstellen</p>

          <a th:class="${isInProgress || !isTimed ?'abortTimedSetting disableIt':'abortTimedSetting'}"
             th:href="@{/abortautostart}">ABORT</a>


        </nav>
      </section>

      <section class="QSetting3" >
          <form method="post" th:action="@{/autostart}" >
<!--            <label  class="SS">START:</label>-->
            <input th:value="${timedStart}" name="timedStart"
             pattern="^([0-2][0-9]|[3][0-1])\.([0][1-9]|[1][0-2])\.([1][0-9][0-9][0-9]|[2][0][0-9][0-9]) ([0-1][0-9]|[2][0-4]):[0-5][0-9]:[0-5][0-9]$"
             placeholder="dd.MM.yyyy HH:mm:ss" type="datetime-local" class="SS" required></input>
<!--            <input placeholder="HH:mm:ss" type="text" class="SS" required></input>-->
            <br><br>
<!--            <label  class="ES" >END:</label>-->
            <input th:value="${timedStop}" name="timedStop"
                   pattern="^([0-2][0-9]|[3][0-1])\.([0][1-9]|[1][0-2])\.([1][0-9][0-9][0-9]|[2][0][0-9][0-9]) ([0-1][0-9]|[2][0-4]):[0-5][0-9]:[0-5][0-9]$"
                   placeholder="dd.MM.yyyy HH:mm:ss" type="datetime-local" class="SS" required></input>

              <button type="submit" th:disabled="${isInProgress || isTimed?true:false}" th:class="${isInProgress || isTimed?'timedSetting disableIt':'timedSetting'}"
                 >CONFIRM</button>
          </form>
      </section>

      <a th:href="@{/logs}" class="log">Logs</a>

      <div class="navigation">
          <a class="button" th:href="@{/logout}">
              <img src="https://imkereibedarfshop.de/images/stories/virtuemart/product/pastovadlo-bezorevu-50l.jpg">
              <div class="logout">LOGOUT</div>
          </a>
      </div>
      <div class="myChart">
          <canvas id="myChart"></canvas>
          <script>

const labels = [
];
const data = {
  labels: labels,
  datasets: [{
    label: 'Temperature',
    backgroundColor: 'rgb(0, 99, 132)',
    borderColor: 'rgb(0, 99, 132)',
    data: [],
  }]
};

  const config = {
  type: 'line',
  data,
  options: {}
};

  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  function addData(label, data) {
 for (var i = 0; i < data.length; i++) {
  console.log(label[i]);
  console.log(data[i]);
  myChart.data.labels.push(label[i]);
    myChart.data.datasets.forEach((dataset) => {
        dataset.data.push(data[i]);
    });
     }
    myChart.update();
}

</script>
      </div>

    </body>
    
       
</html>