<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace ="template :: head"></head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>Sign Up Page</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form class="form-validate"  method="post" th:action="@{/signup}">
                                <div class="form-group">
                                    <input id="register-username" type="text" name="username" required data-msg="Please enter your username" class="input-material">
                                    <label for="register-username" class="label-material">User Name *</label>
                                </div>
                                <div class="form-group">
                                    <input id="register-password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
                                    <label for="register-password" class="label-material">Password *        </label>
                                </div>
                                <div class="form-group">
                                    <input id="token" type="password" name="token" class="input-material">
                                    <label for="token" class="label-material">TOKEN:This field is required</label>
                                </div>
                                <div class="form-group">
                                    <button id="regidter" type="submit" name="registerSubmit" class="btn btn-primary"><i class="fa fa-user-plus text-green mr-1" aria-hidden="true"></i>Register</button>
                                </div>
                            </form><small>Already have an account? </small><a th:href="@{/login}" style="text-decoration: none;" class="signup">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <p>2021</p>
    </div>
</div>
<!-- JavaScript files-->
<div th:replace ="template :: script"></div>
</body>
</html>